$theme-colors: (
    'primary': #0091ea //Covalence Blue!  :D
);

#root {
    background-color: #444444;
    max-width: 100vw;
    min-height: 100vh;
}

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
