$theme-colors: (
    'primary': #0091ea //Covalence Blue!  :D
);

#root {
    background-color: #767D92;
}

main {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
}

#tcLogo {
    position: relative;
    width: 50%;
    height: auto;
}

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
